// fonts

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;600;900&display=swap");

$font-family: "Inter", sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

// colors
$black-500: #000000;
$white-500: #ffffff;

$blue-500: #00cfff;
$blue-600: #03addc;

$red-300: #db4c4c;

$gray-100: #e0e0e0;
$gray-200: #bdbdbd;
$gray-300: #828282;
$gray-400: #6d6e70;
$gray-500: #333333;
// Grid breakpoints

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
) !default;

// Z-index
$z-index: (
	level-1: 5,
	level-2: 10,
	level-3: 15,
	level-4: 20,
	level-5: 25,
) !default;
