.minicart {
	position: relative;

	&__button {
		position: relative;
		padding: 0;
		border: 0;
		outline: 0;
		background: transparent;
		cursor: pointer;

		.portal-totalizers-ref {
			.title,
			.amount-products,
			.amount-items strong,
			.amount-kits,
			.total-cart {
				display: none;
			}
		}

		.cart-info {
			margin: 0;
		}

		.amount-items-em {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 4px;
			right: -4px;
			font-style: normal;
			font-weight: bold;
			font-size: 9px;
			line-height: 11px;
			color: $white-500;
			background: $blue-500;
			width: 15px;
			height: 15px;
			border-radius: 50%;
		}
	}

	&__drawer {
		height: 475px;
		max-height: 200px;
		opacity: 0;
		position: absolute;
		right: 0px;
		top: 80px;
		transition: all 0.3s ease-in-out;
		visibility: hidden;
		width: 375px;
		z-index: 16;

		@include mq(md, max) {
			bottom: 0;
			height: 100%;
			left: 0;
			position: fixed;
			top: 0;
		}
	}
}

.show-mini-cart {
	max-height: 1000px;
	opacity: 1;
	visibility: visible;
}

.mini-cart-container {
	background-color: #fff;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: 100%;
	padding: 0;
	position: relative;
	z-index: 2;

	@media only screen and (max-height: 500px) {
		display: block;
		overflow-y: auto;
	}

	button {
		cursor: pointer;
		outline: none;
	}

	a {
		text-decoration: none;
	}

	.mini-cart-header {
		border-bottom: 1px solid hsla(0, 0%, 90%, 1);
		color: #142032;
		font-size: 12px;
		letter-spacing: 0.5px;
		padding: 20px 15px 16px;
		position: relative;
		text-align: left;
		text-transform: uppercase;

		span {
			margin-left: 4px;
		}

		.btn-close {
			border: none;
			background-color: transparent;
			font-size: 0;
			padding: 12px;
			position: absolute;
			right: 30px;
			top: 14px;

			&::before,
			&::after {
				background-color: lighten(#142032, 10);
				content: "";
				height: 2px;
				left: 0.5px;
				position: absolute;
				top: 11px;
				transition: all 0.15s ease-in-out;
				width: 24px;
			}

			&:before {
				transform: rotate(45deg);
			}

			&:after {
				transform: rotate(-45deg);
			}

			&:hover,
			&:active {
				&:before,
				&:after {
					background-color: #142032;
				}
			}
		}
	}

	.mini-cart-main {
		height: 100%;
		margin-right: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
		overflow: auto;
		padding: 0 13px 0 15px;

		@media only screen and (max-height: 500px) {
			max-height: 250px;
		}

		&::-webkit-scrollbar {
			width: 6px;
		}

		&::-webkit-scrollbar-track {
			background-color: hsla(0, 0%, 90%, 1);
			border-radius: 15px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: hsl(0, 0%, 77%);
			border-radius: 15px;
		}

		&::-webkit-scrollbar-thumb:hover {
			background-color: darken(hsl(0, 0%, 77%), 10);
		}
	}

	.wait-screen {
		background-color: rgba(0, 0, 0, 0.15);
		display: none;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;

		&:after {
			content: "";
			top: 11%;
			z-index: 1;
			position: absolute;
			margin: auto;
			bottom: 30px;
			left: 0;
			right: 0;
			font-size: 0;
			border: 5px solid #fff;
			border-top-color: #f71963;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			animation: spin 1.5s linear infinite;
		}

		&.active {
			display: block;
		}
	}

	.product-list {
		margin: 0;

		li {
			align-items: flex-start;
			border-bottom: 1px solid hsla(0, 0%, 90%, 1);
			display: flex;
			justify-content: space-between;
			padding: 12px 0;
		}

		.empty-message {
			align-items: center;
			border: none;
			flex-direction: column;
			height: 100%;
			justify-content: center;
			padding-top: 40px;
			text-align: center;

			strong {
				font-size: 16px;
				margin-bottom: 24px;
				text-transform: uppercase;
			}

			p {
				max-width: 300px;
				margin: auto;
			}
		}

		.product-image {
			min-width: 80px;
			max-width: 85px;
			width: 100%;

			a {
				display: block;
			}
		}

		.product-options {
			display: flex;
			width: 100%;
		}

		.product-info {
			color: #142032;
			font-size: 12px;
			font-weight: 500;
			padding-left: 8px;
			text-align: left;
			width: 100%;

			.name {
				font-size: 14px;
				line-height: 17px;
			}

			.product-price {
				color: #000;
				font-size: 18px;
				font-weight: 700;
				margin-bottom: 8px;
			}

			.value,
			button {
				background-color: transparent;
				border: none;
				border-radius: 0;
				display: inline-block;
				text-align: center;
				height: 31px;
				outline: none;
			}

			.value {
				padding-top: 5px;
			}

			button {
				background-color: #f71963;
				color: #fff;
				font-weight: 500;
				font-size: 16px;
				line-height: 0;
				width: 32px;
				vertical-align: top;
				transition: all 0.15s linear;
				padding: 0;

				&:hover {
					background-color: lighten(#f71963, 5);
				}

				&:active {
					background-color: darken(#f71963, 10);
				}
			}

			.value {
				border: 1px solid #142032;
				box-shadow: none;
				font-size: 14px;
				margin: 0 -3px;
				width: 32px;

				-moz-appearance: textfield;
				-webkit-appearance: none;

				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
				}
			}
		}

		.product-remove {
			position: relative;
			min-width: 30px;

			button {
				background-color: transparent;
				border: none;
				font-size: 0;
				padding: 11px;
				position: absolute;
				right: 0;
				top: 0;
				transition: all 0.15s ease-in-out;

				&:hover,
				&:active {
					border-color: darken(#142032, 15);

					&:after,
					&:before {
						border-color: darken(#142032, 15);
					}
				}

				&:after,
				&:before {
					border-bottom: 1.25px solid #142032;
					content: "";
					width: 16px;
					position: absolute;
					left: -1.5px;
					right: 0;
					top: 8px;
				}

				&:after {
					transform: rotate(45deg);
				}

				&:before {
					transform: rotate(-45deg);
				}
			}
		}
	}

	.mini-cart-footer {
		text-align: left;

		.totals-container {
			display: none;
			background-color: #fff;
			border-top: 1px solid hsla(0, 0%, 90%, 1);
			margin: 0 16px;
			padding: 16px 0;
		}

		.total {
			color: hsla(220, 1%, 43%, 1);
			font-size: 12px;
			line-height: 15px;
			letter-spacing: 3px;
			text-transform: uppercase;

			strong {
				color: #142032;
				display: inline-block;
				font-weight: 700;
				letter-spacing: 0;
				float: right;
			}
		}

		.continue-buying {
			background-color: transparent;
			border: none;
			cursor: pointer;
			color: #6d6e70;
			display: block;
			font-size: 14px;
			padding: 17px 15px;
			position: relative;
			transition: all 0.15s ease-in-out;
			text-transform: uppercase;
			text-decoration: underline;
			margin: auto;

			&:hover,
			&:active {
				color: darken(#6d6e70, 15);
			}
		}

		.finish-order {
			background-color: $black-500;
			color: #fff;
			display: block;
			font-weight: 700;
			font-size: 14px;
			padding: 15px;
			text-align: center;
			transition: all 0.15s linear;
			text-transform: uppercase;
			width: 100%;

			&:hover {
				background-color: lighten($black-500, 2.5);
			}

			&:active {
				background-color: darken($black-500, 10);
			}
		}
	}

	&.have-item {
		.totals-container {
			display: block;
		}
	}
}
