<fieldset class="busca">
	<legend>Buscar no site</legend>
	<label>Buscar</label>
	<select id="ftDepta28507c5599f4430a7cabd23249f99c3">
		<option value="">Todo o site</option>
		<option value="1">Calcinhas</option>
		<option value="4">Espartilho</option>
		<option value="8">Plus Size</option>
		<option value="10">Soutien</option>
		<option value="2">Conjuntos</option>
		<option value="3">Cueca</option>
		<option value="5">Fitness</option>
		<option value="6">Material de Apoio</option>
		<option value="7">Meias</option>
		<option value="46">Promoção</option>
		<option value="47">Kit Revendedora</option>
		<option value="48">Outlet</option>
		<option value="51">Liquida Inverno</option>
		<option value="52">Linha Gestante</option>
		<option value="56">Semana Maluca</option>
		<option value="57">Moda Praia</option>
		<option value="59">Body</option>
		<option value="61">Black Friday</option>
		<option value="64">Bota Fora Dondocas</option>
	</select>
	<input type="hidden" id="ftIdxa28507c5599f4430a7cabd23249f99c3" value="" />
	<input id="ftBoxa28507c5599f4430a7cabd23249f99c3" 
		class="fulltext-search-box ui-autocomplete-input" 
		type="text" 
		size="20"
	 	accesskey="b" 
		autocomplete="off" 
		role="textbox" 
		aria-autocomplete="list" 
		aria-haspopup="true" 
		value="OLÁ, O QUE DESEJA ENCONTRAR?" />
	<input id="ftBtna28507c5599f4430a7cabd23249f99c3" type="button" value="Buscar" class="btn-buscar" />
</fieldset>
