<section class="footer-links">
	<div class="footer-links__wrapper">
		<div class="footer-links__block">
			<h4>DÚVIDAS</h4>
			<ul class="footer-links__items-list">
				<li class="footer-links__item">
					<a href="/institucional/sobre" class="footer-links__link">
						SOBRE
					</a>
				</li>

				<li class="footer-links__item">
					<a
						href="/institucional/formas-de-pagamento"
						class="footer-links__link"
					>
						FORMAS DE PAGAMENTO
					</a>
				</li>

				<li class="footer-links__item">
					<a href="/institucional/entrega" class="footer-links__link">
						ENTREGA
					</a>
				</li>

				<li class="footer-links__item">
					<a
						href="/institucional/troca-e-devolcao"
						class="footer-links__link"
					>
						TROCA E DEVOLUÇÃO
					</a>
				</li>

				<li class="footer-links__item">
					<a
						href="/institucional/seguranca-e-privacidade"
						class="footer-links__link"
					>
						SEGURANÇA E PRIVACIDADE
					</a>
				</li>

				<li class="footer-links__item">
					<a href="/institucional/contato" class="footer-links__link">
						CONTATO
					</a>
				</li>
			</ul>
		</div>

		<div class="footer-links__block">
			<h4>FALE CONOSCO</h4>
			<ul class="footer-links__items-list">
				<li class="footer-links__item">
					<a href="TEL:1199999999" class="footer-links__link">
						SAC: 11 9999 9999
					</a>
				</li>

				<li class="footer-links__item">
					<a href="mailto:sac@m3.com.br" class="footer-links__link">
						sac@m3.com.br
					</a>
				</li>

				<li class="footer-links__item">
					<u>ATENDIMENTO ONLINE</u>
				</li>

				<li class="footer-links__item">
					<span>SEGUNDA A SEXTA</span>
				</li>

				<li class="footer-links__item">
					<span>DAS 8H30 AS 18H</span>
				</li>
			</ul>
		</div>

		<div class="footer-links__block">
			<h4>FIQUE LIGADO</h4>

			<ul
				class="footer-links__items-list footer-links__items-list--social-networks"
			>
				<li>
					<a href="#" target="_blank" title="Instagram">
						<i class="sprite sprite-instagram-icon"></i>
					</a>
				</li>

				<li>
					<a href="#" target="_blank" title="Facebook">
						<i class="sprite sprite-facebook-icon"></i>
					</a>
				</li>

				<li>
					<a href="#" target="_blank" title="Youtube">
						<i class="sprite sprite-youtube-icon"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>
