<section class="footer-infos">
	<div class="footer-infos__labels">
		<ul class="footer-infos__payment">
			<li>
				<i class="sprite sprite-mastercard-icon"></i>
			</li>

			<li>
				<i class="sprite sprite-visa-icon"></i>
			</li>

			<li>
				<i class="sprite sprite-diners-icon"></i>
			</li>

			<li>
				<i class="sprite sprite-elo-icon"></i>
			</li>

			<li>
				<i class="sprite sprite-hipercard-icon"></i>
			</li>

			<li>
				<i class="sprite sprite-pagseguro-icon"></i>
			</li>

			<li>
				<i class="sprite sprite-boleto-icon"></i>
			</li>
		</ul>

		<div class="footer-infos__divider"></div>

		<ul class="footer-infos__security">
			<li>
				<i class="sprite sprite-vtexpci-icon"></i>
			</li>

			<li>
				<i class="sprite sprite-google-safe-icon"></i>
			</li>
		</ul>
	</div>

	<div class="footer-infos__company">
		<p class="footer-infos__copyright">
			COPYRIGHT © 2020 - LOJA COMÉRCIO ELETRÔNICO | CNPJ: 000.000.000/0001-00
		</p>

		<div class="footer-infos__development">
			<a href="https://vtex.com/" title="VTEX">
				<i class="sprite sprite-vtex-icon"></i>
			</a>

			<a href="https://m3ecommerce.com/" target="_blank" title="M3">
				<span class="footer-infos__developed-by">Developed by</span>
				<i class="sprite sprite-m3-icon"></i>
			</a>
		</div>
	</div>
</section>
