.footer-links {
	@include mq(md, min) {
		padding: 19px 0 25px;
		border-bottom: 1px solid $gray-100;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(3, max-content);
		gap: 148px;
		justify-content: center;

		@include mq(md, max) {
			grid-template-columns: 1fr;
			gap: 0;
		}
	}

	&__block {
		@include mq(md, max) {
			border-bottom: 1px solid $gray-100;
			padding: 24px 15px;
		}
	}

	&__title {
		margin: 0 0 10px;
		line-height: 15px;
		font-size: 12px;
	}

	&__items-list {
		margin: 0;

		&--social-networks {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: max-content;
			gap: 16px;
			align-items: center;
		}
	}

	&__item {
		padding: 4px 0;
		line-height: 12px;
		font-size: 10px;
	}

	&__link {
		color: $black-500;
		transition: color 0.2s linear;

		@include mq(md, min) {
			&:hover {
				color: $blue-500;
			}
		}
	}
}

.footer-infos {
	&__labels {
		display: flex;
		justify-content: center;

		@include mq(md, max) {
			flex-direction: column;
		}

		@include mq(md, min) {
			border-bottom: 1px solid $gray-100;
			padding: 16px 0;
			align-items: center;
		}
	}

	&__security,
	&__payment {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: max-content;
		align-items: center;
		margin: 0;

		@include mq(md, max) {
			justify-content: center;
			padding: 24px 0;
		}
	}

	&__payment {
		gap: 8px;

		@include mq(md, max) {
			padding: 24px 0;
			border-bottom: 1px solid $gray-100;
		}
	}

	&__security {
		gap: 16px;
	}

	&__divider {
		width: 1px;
		height: 51px;
		margin: 0 24p x;
		background: $gray-100;

		@include mq(md, max) {
			display: none;
		}
	}

	&__company {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 24px;

		@include mq(md, max) {
			flex-direction: column;
		}

		@include mq(md, min) {
			padding: 12px 0;
		}
	}

	&__copyright {
		margin: 0 16px 0 0;
		line-height: 12px;
		font-size: 10px;
		color: $gray-200;

		@include mq(md, max) {
			text-align: center;
			margin-right: 0;
		}
	}

	&__development {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: max-content;
		align-items: center;
		gap: 16px;
	}

	&__developed-by {
		line-height: 12px;
		font-size: 10px;
		color: $gray-200;
		margin-right: 7px;
	}
}
