.menu {
	align-self: stretch;

	&__button {
		padding: 0;
		border: 0;
		outline: 0;
		background: transparent;

		@include mq(lg, min) {
			display: none;
		}
	}

	.menu-header {
		@include mq(lg, min) {
			display: none;
		}

		&__top-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 16px;
		}

		&__text {
			display: flex;
			align-items: center;
			color: $gray-300;
			font-size: 12px;
			line-height: 15px;

			i {
				margin-right: 10px;
			}
		}

		&__close-button {
			padding: 0;
			border: 0;
			outline: 0;
			background-color: transparent;
		}

		&__search-box {
			background-color: $black-500;

			.busca {
				padding: 16px;
			}
		}
	}

	.main-menu {
		height: 100%;

		@include mq(lg, max) {
			display: flex;
			flex-direction: column;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			max-width: 375px;
			height: 100%;
			z-index: map-get($z-index, level-5);
			background: $white-500;
			transform: translateX(-100%);
			transition: transform 0.2s ease-in-out;
		}

		&.is-open {
			transform: translateX(0);
		}

		&__departments {
			display: flex;
			margin: 0;

			@include mq(lg, max) {
				flex: 1;
				flex-direction: column;
				position: relative;
				overflow: hidden auto;
			}

			@include mq(lg, min) {
				height: 100%;
			}
		}

		&__department {
			display: flex;
			align-items: center;

			@include mq(lg, max) {
				border-bottom: 1px solid $gray-100;
			}

			@include mq(lg, min) {
				margin-right: 40px;

				&:hover {
					.main-menu__department-link {
						font-weight: 700;
						text-decoration: underline;
						color: $blue-500;
					}

					.submenu {
						opacity: 1;
						pointer-events: all;
						top: 100%;
					}
				}
			}
		}

		&__department-link {
			font-size: 12px;
			line-height: 15px;
			color: $white-500;

			@include mq(lg, max) {
				width: 100%;
				padding: 20px 16px;
				color: $black-500;
				display: flex;
				justify-content: space-between;
			}

			@include mq(lg, min) {
				&::after {
					content: attr(title);
					font-weight: bold;
					display: block;
					height: 0;
					overflow: hidden;
					visibility: hidden;
				}
			}

			i {
				@include mq(lg, min) {
					display: none;
				}
			}
		}

		&__account-link {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 64px;
			background: $black-500;
			font-size: 10px;
			line-height: 12px;
			color: $white-500;

			@include mq(lg, min) {
				display: none;
			}

			i {
				margin-right: 16px;
			}
		}
	}

	.submenu {
		position: absolute;
		width: 100%;

		@include mq(lg, max) {
			background-color: $white-500;
			top: 0;
			left: 100%;
			height: 100%;
			padding-bottom: 34px;
			overflow: auto;
			transition: left 0.2s ease-in-out;
		}

		@include mq(lg, min) {
			background: rgba($white-500, 0.95);
			box-shadow: 0px 4px 4px rgba($black-500, 0.02);
			top: calc(100% + 32px);
			padding: 30px 0 43px;
			z-index: map-get($z-index, level-4);
			opacity: 0;
			left: 0;
			pointer-events: none;
			transition: left 0.2s ease-in-out;
		}

		&.is-open {
			left: 0;
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 100%;
			display: block;
			width: 100%;
			height: 28px;
			background: transparent;
		}

		.container {
			@include mq(lg, max) {
				padding: 0 16px;
			}
		}

		&__return-button {
			display: flex;
			align-items: center;
			width: 100%;
			padding: 16px;
			margin-bottom: 34px;
			border: 1px solid $gray-100;
			border-width: 0 0 1px 0;
			outline: 0;
			background: transparent;
			text-align: left;

			@include mq(lg, min) {
				display: none;
			}

			i {
				margin-right: 8px;
			}
		}

		&__title {
			font-size: 28px;
			line-height: 24px;
			margin: 0 0 8px;

			@include mq(lg, max) {
				text-decoration-line: underline;
				line-height: 14px;
				font-size: 12px;
				color: $blue-500;
			}
		}

		&__categories-wrapper {
			margin-bottom: 16px;

			@include mq(lg, min) {
				display: flex;
				flex-direction: row;
				margin-bottom: 8px;
			}
		}

		&__categories {
			margin-right: 30px;
		}

		&__category {
			padding: 8px 0;
		}

		&__category-link {
			line-height: 15px;
			font-size: 12px;
			color: $black-500;
			transition: color 0.2s linear;

			@include mq(lg, min) {
				&:hover {
					color: $blue-500;
				}
			}
		}

		&__see-all {
			display: flex;
			align-items: center;
			line-height: 15px;
			font-size: 12px;
			font-weight: bold;
			color: $black-500;

			i {
				margin-left: 9px;
			}
		}
	}
}
