.slick-arrow {
	position: absolute;
	z-index: map-get($z-index, level-1);
	top: 50%;
	transform: translateY(-50%);
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 0;
	background-color: transparent;
	cursor: pointer;
}

.slick-dots {
	display: flex !important;
	align-items: center;
	justify-content: center;
	margin: 0;

	li {
		margin: 0 4px;
		display: flex;
	}

	button {
		width: 10px;
		height: 10px;
		padding: 0;
		border: 0;
		outline: 0;
		background: $white-500;
	}
}
